<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>
<body>
    <h1>Log In</h1>
    <form action="/user/login" method="POST">
        <label for="">Email:</label>
        <input type="text" name="email" required>
        <label for="">Password:</label>
        <input type="text" name="password" required>

        <button type="submit">Log In</button>
    </form>
</body>
</html>